<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>symbools</key>
		<array>
			<dict>
				<key>symbool</key>
				<string>Q</string>
				<key>subSymbool</key>
				<string>1</string>
				<key>code</key>
				<string>113</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<true/>
				<key>chars</key>
				<string>Q,1,q</string>
                <key>codeChars</key>
                <string>81,49,113</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>W</string>
				<key>subSymbool</key>
				<string>2</string>
				<key>code</key>
				<string>119</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>W,2,w</string>
                <key>codeChars</key>
                <string>87,50,119</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>E</string>
				<key>subSymbool</key>
				<string>3</string>
				<key>code</key>
				<string>101</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>E,3,e</string>
                <key>codeChars</key>
                <string>69,51,101</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>R</string>
				<key>subSymbool</key>
				<string>4</string>
				<key>code</key>
				<string>114</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>R,4,r</string>
                <key>codeChars</key>
                <string>82,52,114</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>T</string>
				<key>subSymbool</key>
				<string>5</string>
				<key>code</key>
				<string>116</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>T,5,t</string>
                <key>codeChars</key>
                <string>84,53,116</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>Y</string>
				<key>subSymbool</key>
				<string>6</string>
				<key>code</key>
				<string>121</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>Y,6,y</string>
                <key>codeChars</key>
                <string>89,54,121</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>U</string>
				<key>subSymbool</key>
				<string>7</string>
				<key>code</key>
				<string>117</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>U,7,u</string>
                <key>codeChars</key>
                <string>85,55,117</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>I</string>
				<key>subSymbool</key>
				<string>8</string>
				<key>code</key>
				<string>105</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>I,8,i</string>
                <key>codeChars</key>
                <string>73,56,105</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>O</string>
				<key>subSymbool</key>
				<string>9</string>
				<key>code</key>
				<string>111</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>O,9,o</string>
                <key>codeChars</key>
                <string>79,57,111</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>P</string>
				<key>subSymbool</key>
				<string>0</string>
				<key>code</key>
				<string>112</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>P,0,p</string>
                <key>codeChars</key>
                <string>80,48,112</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>A</string>
				<key>subSymbool</key>
				<string>~</string>
				<key>code</key>
				<string>97</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>A,~,a</string>
                <key>codeChars</key>
                <string>65,126,97</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>S</string>
				<key>subSymbool</key>
				<string>!</string>
				<key>code</key>
				<string>115</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>S,!,s</string>
                <key>codeChars</key>
                <string>83,33,115</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>D</string>
				<key>subSymbool</key>
				<string>@</string>
				<key>code</key>
				<string>100</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>D,@,d</string>
                <key>codeChars</key>
                <string>68,64,100</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>F</string>
				<key>subSymbool</key>
				<string>#</string>
				<key>code</key>
				<string>102</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>F,#,f</string>
                <key>codeChars</key>
                <string>70,35,102</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>G</string>
				<key>subSymbool</key>
				<string>%</string>
				<key>code</key>
				<string>103</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>G,%,g</string>
                <key>codeChars</key>
                <string>71,37,103</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>H</string>
				<key>subSymbool</key>
				<string>'</string>
				<key>code</key>
				<string>104</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>H,',h</string>
                <key>codeChars</key>
                <string>72,39,104</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>J</string>
				<key>subSymbool</key>
				<string>&amp;</string>
				<key>code</key>
				<string>106</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>J,&amp;,j</string>
                <key>codeChars</key>
                <string>74,38,106</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>K</string>
				<key>subSymbool</key>
				<string>*</string>
				<key>code</key>
				<string>107</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>K,*,k</string>
                <key>codeChars</key>
                <string>75,42,107</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>L</string>
				<key>subSymbool</key>
				<string>?</string>
				<key>code</key>
				<string>108</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>L,?,l</string>
                <key>codeChars</key>
                <string>76,63,108</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>分词</string>
				<key>subSymbool</key>
				<string></string>
				<key>code</key>
				<string></string>
				<key>type</key>
				<string>2</string>
				<key>isCanLang</key>
				<string>NO</string>
				<key>chars</key>
				<string></string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>Z</string>
				<key>subSymbool</key>
				<string>(</string>
				<key>code</key>
				<string>122</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>Z,(,z</string>
                <key>codeChars</key>
                <string>90,40,122</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>X</string>
				<key>subSymbool</key>
				<string>)</string>
				<key>code</key>
				<string>120</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>X,),x</string>
                <key>codeChars</key>
                <string>88,41,120</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>C</string>
				<key>subSymbool</key>
				<string>-</string>
				<key>code</key>
				<string>99</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>C,-,c</string>
                <key>codeChars</key>
                <string>67,45,99</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>V</string>
				<key>subSymbool</key>
				<string>_</string>
				<key>code</key>
				<string>118</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>V,_,v</string>
                <key>codeChars</key>
                <string>86,95,118</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>B</string>
				<key>subSymbool</key>
				<string>:</string>
				<key>code</key>
				<string>98</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>B,:,b</string>
                <key>codeChars</key>
                <string>66,58,98</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>N</string>
				<key>subSymbool</key>
				<string>;</string>
				<key>code</key>
				<string>110</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>N,;,n</string>
                <key>codeChars</key>
                <string>78,59,110</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>M</string>
				<key>subSymbool</key>
				<string>/</string>
				<key>code</key>
				<string>109</string>
				<key>type</key>
				<string>1</string>
				<key>isCanLang</key>
				<string>YES</string>
				<key>chars</key>
				<string>M,/,m</string>
                <key>codeChars</key>
                <string>77,47,109</string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>删除</string>
				<key>subSymbool</key>
				<string></string>
				<key>code</key>
				<string></string>
				<key>type</key>
				<string>2</string>
				<key>isCanLang</key>
				<string>NO</string>
				<key>chars</key>
				<string></string>
				<key>kbType</key>
				<string>1</string>
				<key>imageName</key>
				<string>kb_delete</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>123</string>
				<key>subSymbool</key>
				<string></string>
				<key>code</key>
				<string></string>
				<key>type</key>
				<string>2</string>
				<key>isCanLang</key>
				<string>NO</string>
				<key>chars</key>
				<string></string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>符</string>
				<key>subSymbool</key>
				<string></string>
				<key>code</key>
				<string></string>
				<key>type</key>
				<string>2</string>
				<key>isCanLang</key>
				<string>NO</string>
				<key>chars</key>
				<string></string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>切换</string>
				<key>subSymbool</key>
				<string></string>
				<key>code</key>
				<string></string>
				<key>type</key>
				<string>2</string>
				<key>isCanLang</key>
				<string>NO</string>
				<key>chars</key>
				<string></string>
				<key>kbType</key>
				<string>1</string>
				<key>imageName</key>
				<string>kb_next</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>空格</string>
				<key>subSymbool</key>
				<string></string>
				<key>code</key>
				<string></string>
				<key>type</key>
				<string>2</string>
				<key>isCanLang</key>
				<string>NO</string>
				<key>chars</key>
				<string></string>
				<key>kbType</key>
				<string>1</string>
				<key>imageName</key>
				<string>kb_space</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>中/英</string>
				<key>subSymbool</key>
				<string></string>
				<key>code</key>
				<string></string>
				<key>type</key>
				<string>2</string>
				<key>isCanLang</key>
				<string>NO</string>
				<key>chars</key>
				<string></string>
				<key>kbType</key>
				<string>1</string>
			</dict>
			<dict>
				<key>symbool</key>
				<string>发送</string>
				<key>subSymbool</key>
				<string></string>
				<key>code</key>
				<string></string>
				<key>type</key>
				<string>2</string>
				<key>isCanLang</key>
				<string>NO</string>
				<key>chars</key>
				<string></string>
				<key>kbType</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
