<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>punctuations</key>
	<array>
		<string>，</string>
		<string>。</string>
		<string>？</string>
		<string>！</string>
		<string>...</string>
		<string>~</string>
		<string>、</string>
	</array>
	<key>inputs</key>
	<array>
		<dict>
			<key>symbool</key>
			<string>分词</string>
			<key>subSymbool</key>
			<string>1</string>
			<key>code</key>
			<string>49</string>
			<key>chars</key>
			<string>@,1,/</string>
			<key>codeChars</key>
			<string>64,49,47</string>
			<key>kbType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>ABC</string>
			<key>subSymbool</key>
			<string>2</string>
			<key>code</key>
			<string>50</string>
			<key>type</key>
			<string>1</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string>a,b,c,2,A,B,C</string>
			<key>codeChars</key>
			<string>97,98,99,50,65,66,67</string>
			<key>kbType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>DEF</string>
			<key>subSymbool</key>
			<string>3</string>
			<key>code</key>
			<string>51</string>
			<key>type</key>
			<string>1</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string>d,e,f,3,D,E,F</string>
			<key>codeChars</key>
			<string>100,101,102,51,68,69,70</string>
			<key>kbType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>GHI</string>
			<key>subSymbool</key>
			<string>4</string>
			<key>code</key>
			<string>52</string>
			<key>type</key>
			<string>1</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string>g,h,i,4,G,H,I</string>
			<key>codeChars</key>
			<string>103,104,105,52,71,72,73</string>
			<key>kbType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>JKL</string>
			<key>subSymbool</key>
			<string>5</string>
			<key>code</key>
			<string>53</string>
			<key>type</key>
			<string>1</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string>j,k,l,5,J,K,L</string>
			<key>codeChars</key>
			<string>106,107,108,53,74,75,76</string>
			<key>kbType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>MNO</string>
			<key>subSymbool</key>
			<string>6</string>
			<key>code</key>
			<string>54</string>
			<key>type</key>
			<string>1</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string>m,n,o,6,M,N,O</string>
			<key>codeChars</key>
			<string>109,110,111,54,77,78,79</string>
			<key>kbType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>PQRS</string>
			<key>subSymbool</key>
			<string>7</string>
			<key>code</key>
			<string>55</string>
			<key>type</key>
			<string>1</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string>p,q,r,s,7,P,Q,R,S</string>
			<key>codeChars</key>
			<string>112,113,114,115,55,80,81,82,83</string>
			<key>kbType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>TUV</string>
			<key>subSymbool</key>
			<string>8</string>
			<key>code</key>
			<string>56</string>
			<key>type</key>
			<string>1</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string>t,u,v,8,T,U,V</string>
			<key>codeChars</key>
			<string>116,117,118,56,84,85,86</string>
			<key>kbType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>WXYZ</string>
			<key>subSymbool</key>
			<string>9</string>
			<key>code</key>
			<string>57</string>
			<key>type</key>
			<string>1</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string>w,x,y,z,9,W,X,Y,Z</string>
			<key>codeChars</key>
			<string>119,120,121,122,57,87,88,89,90</string>
			<key>kbType</key>
			<string>0</string>
		</dict>
	</array>
	<key>rightKeys</key>
	<array>
		<dict>
			<key>symbool</key>
			<string>删除</string>
			<key>subSymbool</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>type</key>
			<string>2</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string></string>
			<key>imageName</key>
			<string>kb_delete</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>重输</string>
			<key>subSymbool</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>type</key>
			<string>2</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string></string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>@</string>
			<key>subSymbool</key>
			<string>48</string>
			<key>code</key>
			<string>64</string>
			<key>type</key>
			<string>2</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string></string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>发送</string>
			<key>subSymbool</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>type</key>
			<string>2</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string></string>
		</dict>
	</array>
	<key>bottomKeys</key>
	<array>
		<dict>
			<key>symbool</key>
			<string>123</string>
			<key>subSymbool</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>type</key>
			<string>2</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string></string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>符</string>
			<key>subSymbool</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>type</key>
			<string>2</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string></string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>切换</string>
			<key>subSymbool</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>type</key>
			<string>2</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string></string>
			<key>imageName</key>
			<string>kb_next</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>空格</string>
			<key>subSymbool</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>type</key>
			<string>2</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string></string>
			<key>imageName</key>
			<string>kb_nine_space</string>
		</dict>
		<dict>
			<key>symbool</key>
			<string>中/英</string>
			<key>subSymbool</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>type</key>
			<string>2</string>
			<key>isCanLang</key>
			<true/>
			<key>chars</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
