<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>type</key>
			<string>常用</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>，a？a。a！a、a、a.a:a......a@a$a(a)a;a/a%a“a”a*a=a~a-a#a&amp;a《a》awww.a.com</string>
		</dict>
		<dict>
			<key>type</key>
			<string>中文</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>，a。a？a！a、a：a；a…a“a”a‘a’a（a）a《a》a{a}a[a]a~a——a·a#a*a|a【a】a『a』a〖a〗</string>
		</dict>
		<dict>
			<key>type</key>
			<string>英文</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>.a,a?a!a&apos;a:a...a~a@a;a&quot;a/a(a)a_a-a+a=a`a^a#a*a%a&amp;a\a[a]a&lt;a&gt;a{a}a|</string>
		</dict>
		<dict>
			<key>type</key>
			<string>网络</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>.a@a-a_awww.ahttp://a.coma.cna.neta.orga@sohu.coma@qq.coma@163.coma.中国</string>
		</dict>
		<dict>
			<key>type</key>
			<string>数学</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>＋a﹣a×a÷a√a∫a∵a∴a¼a½a¾a℃a℉a㎡a㎜a㎝a㎞a㎎a㎏a@a㏄a￥a$a€a￠a‰a≠a≦a≧a㏕a℅a⊾a㏒a∠a∞</string>
		</dict>
		<dict>
			<key>type</key>
			<string>图形</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>☆a★a□a■a○a●a△a▲a▽a▼a◇a◆a◣a◢a ◤a◥a℡a℠a™a卍a卐a☀a☁a☂a☃a☎a☏a☚a☛a☜a☞a♀a♁a♂a☻a♘a♙a♚a♛a ♞ a☯a☹a☿a♫a♪ a♬a⚆a⚇a⚈a⚉a⚐a⚑a♰a♱a♲a♳a♺a♠a♣a♥a♦a⚀a⚁a⚂a⚃a⚄a⚅a☢a☠a☣</string>
		</dict>
		<dict>
			<key>type</key>
			<string>序号</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>➀a➁a➂a➃a➄a➅a➆a➇a➈a➉a㈠a㈡a㈢a㈣a㈤a㈥a㈦a㈧a㈨a㈩aⅠaⅡaⅢaⅣaⅤaⅥaⅦaⅧaⅨaⅩ</string>
		</dict>
		<dict>
			<key>type</key>
			<string>箭头</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>↑a↓a←a→a↖a↗a↙a↘a↔a↕a⥢a⥤a⥣a⥥a⇄a⇆a⇅a⇔a↰a↱a↲a↴a↳a↲a↩a↪a⇦a⇧a⇨a⇩a⇪</string>
		</dict>
		<dict>
			<key>type</key>
			<string>希腊</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>ΦaΧaΨaΩaαaνaξaοaπaρaσaφaψaωaΓaΘaΠaΣaζaηaθaλaμaδaβ</string>
		</dict>
		<dict>
			<key>type</key>
			<string>拼音</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>āaáaǎaàaōaóaǒaòaēaéaěaèaīaíaǐaìaūaúaǔaùaǖaǘaǚaǜaü</string>
		</dict>
		<dict>
			<key>type</key>
			<string>注音</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>ㄅaㄆaㄇaㄈaㄉaㄊaㄋaㄌaㄍaㄎaㄏaㄐaㄑaㄒaㄓaㄔaㄕaㄖaㄗaㄘaㄙaㄚaㄛaㄜaㄝaㄞaㄟaㄠaㄡaㄢaㄣaㄤaㄥaㄦaㄧaㄨaㄩ</string>
		</dict>
		<dict>
			<key>type</key>
			<string>部首</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>丨a亅a丿a乛a一a乙a乚a丶a八a勹a匕 a冫a卜a厂a刀a刂a儿a二a匚a讠a廴a又a彳a艹a巛a廾a广a彐a彑a犭a宀a灬a饣a纟a巳a夂a卝a爫a耂a肀a癶a歺a疒a罒a疋a衤a艮a虍a覀a聿a糸a镸a辵a豕a酉a豸a釒</string>
		</dict>
		<dict>
			<key>type</key>
			<string>藏文</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>ༀa༁a༂a༃a༄a༅a༆a༇a༈a༉a༊a།a༎a༏a༐a༑a༒a༓a༔a༕a༖a༗༘༙༚a༛a༜a༞a༟a༠a༡a༢a༣a༤a༥a༦a༧a༨a༩a༪a༫a༬a༭a༮a༯a༰a༱a༲a༳a༴༵a༶༷a༸༹a༺a༻a༼a ༽༾༿aཀaཁaགaགྷaངaཅaཆaཇaཉaཊaཋaཌaཌྷaཎaཏaཐaདaདྷaནaཔaཕaབaབྷaམaཙaཚaཛaཛྷaཝaཞaཟaའaཡaརaལaཤaཥaསaཧaཨaཀྵaཪཿa྅྆྇aྊaྋa྾a྿a࿀a࿁a࿂a࿃a࿄a࿅࿆a࿇a࿈a࿉a࿊a࿋a࿌a࿏</string>
		</dict>
		<dict>
			<key>type</key>
			<string>日语</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>アaナaスaイaシaリaーaズaかaらaドaムaをaプaレaゼaンaりaやaかaなaベaルaガaモaッaトaオaジaビaマaカaマaョaパaすaゅaま</string>
		</dict>
		<dict>
			<key>type</key>
			<string>制表</string>
			<key>kbType</key>
			<string>4</string>
			<key>symbools</key>
			<string>─a━a│a┃a┄a┅a┆a┇a┌a┍a┎a┏a┐a└a├a┝a┤a┬a┳a┴a┻a┼a╋a═a║a╒a╓a╔╕a╖a╗a╘a╙a╚╛a╬a╔a╗a╝a╚a╬a═a┏a┓a┗a┛a┳a⊥a﹃a﹄a╭a╮a╯a╰</string>
		</dict>
	</array>
</dict>
</plist>
